footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid rgba(66, 68, 110, 0.3);
    padding:1rem 0;
    margin-top:-1rem;
}

footer p {
    font-size:0.9rem;
}

footer a {
    color: #A7A7A7;
}

footer a:hover {
    color:#ffffff;
}