header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:3rem;
}

.header-img-container {
  width: 230px;
  height: 230px;
  background-image: linear-gradient(180deg, #e70faa 0%, #00c0fd 100%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
    width:215px;
    height:215px;
    border-radius:100%;
    background-size: cover;
    background-position: center;
    background-image: url("../images/Kathryn\ Davies.jpg");
}

h1 {
  text-align: center;
  color: #42446E;
}

.dark h1 {
  color: #d9d9d9;
}

span {
  background-image: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media (min-width:715px) {
  header {
    flex-direction:row-reverse;
    justify-content: space-between;
    padding:0 3rem;
  }

  h1 {
    max-width:50%;
    text-align: left;
    font-size:2.5rem;
  }
}

@media (min-width:950px) {
  header {
    justify-content: center;
    gap:8rem;
  }

  h1 {
    max-width:45%;
    font-size:3rem;
  }
}