nav {
    height:3rem;
}

ul {
  display:flex;
  list-style-type: none;
  gap:1rem;
}

nav a {
  color: #666666;
}

nav a:hover {
  color:#000000;
}

.dark nav a {
  color: #A7A7A7;
}

.dark nav a:hover {
  color:#ffffff;
}