section:first-of-type {
    margin-top:5rem;
}

.techstack-icon-grid {
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
    row-gap: 2.5rem;
    margin-top:0.8rem;
    justify-content: center;
}

@media (min-width:645px) {
    .techstack-icon-grid {
        max-width:500px;
    }
}

@media (min-width:950px) {
    .techstack-icon-grid {
        max-width: 100%;
    }
}